<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  <!--
  <div class="block block-drop-shadow">
    <div class="user bg-default bg-light-rtl">
      <div class="info">        
        <img src="assets/img/logo.png" class="img-thumbnail">
      </div>
    </div>
    <div class="content list-group list-group-icons">
      <a href="component_messages.html" class="list-group-item">
        <span class="fa fa-envelope icon-xxlarge"></span>
        <br>
        Messages1
        <i class="fa fa-angle-right pull-right "></i>
      </a>
      <a href="component_charts.html" class="list-group-item"><span class="fa fa-bar-chart"></span>Statistic<i class="fa fa-angle-right pull-right"></i></a>
      <a href="sample_profile.html" class="list-group-item"><span class="fa fa-cogs"></span>Settings<i class="fa fa-angle-right pull-right"></i></a>
      <a href="sample_login.html" class="list-group-item"><span class="fa fa-off"></span>Logout<i class="fa fa-angle-right pull-right"></i></a>
    </div>
  </div>
  -->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="assets/img/logo.png" class="img-thumbnail">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>Conta</p>
    </a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>Sonhos</p>
    </a>
    <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-eye w3-xxlarge"></i>
      <p>Configurações</p>
    </a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-envelope w3-xxlarge"></i>
      <p>Ajuda</p>
    </a>
  </nav>
</div>

<!-- COL EXTRATO RAPIDO -->
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <!-- BOX ACESSO RAPIDO -->
  <div id="acessoRapdioAC" class="block block-drop-shadow">
    <div class="header">
      <h2>Acesso rapido</h2>
      <div class="side pull-right">
        <ul class="buttons">
          <li class="btn-group">
            <a href="#" class="dropdown-toggle tip" title="" data-toggle="dropdown" data-original-title="Dropdown"><span class="fa fa-align-justify"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Some action</a></li>
              <li><a href="#">Other action</a></li>
              <li><a href="#">Last action</a></li>
            </ul>
          </li>
          <li><a href="#" class="block-toggle tip" title="" data-original-title="Toggle content" data-toggle="collapse" data-parent="#acessoRapdioAC"
              data-target="#collapseOne">
                            <span class="fa fa-chevron-up"></span>
              </a>
          </li>
          <li><a href="#" class="block-remove tip" title="" data-original-title="Remove block"><span class="fa fa-remove"></span></a></li>
        </ul>
      </div>
    </div>
    <div id="collapseOne">
      <div class="content">
        Default block content
      </div>
      <div class="footer">
        Default block footer
      </div>
    </div>
  </div>
  <!-- FIM BOX ACESSO RAPIDO -->
  <!-- BOX PESQUISA EXTRATO RAPIDO -->
  <div class="block block-transparent nm">
    <div class="content controls">
      <div class="form-row">
        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
            <input class="form-control datepicker hasDatepicker" placeholder="A partir de" id="dp1504200108985">
          </div>
        </div>
        <div class="col-md-3">
          <select class="form-control">
                                    <option>Escolha a categoria</option>
                                    <option>Alimentação</option>
                                    <option>Carro</option>
                                    <option>Lazer</option>
                                </select>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-search"></span></div>
            <input class="form-control" placeholder="Pesquisar?">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM BOX PESQUISA EXTRATO RAPIDO -->
  <!-- BOX EXTRATO RATIPO -->
  <div class="block block-drop-shadow">
    <div class="head bg-default bg-light-rtl">
      <h2>Transações</h2>
      <div class="side pull-right">
        <ul class="buttons">
          <li><a href="#"><span class="icon-plus"></span></a></li>
          <li><a href="#"><span class="icon-cogs"></span></a></li>
        </ul>
      </div>
      <div class="head-panel nm">
        <a href="#" class="hp-info pull-left">
          <div class="hp-icon">
            <span class="fa fa-long-arrow-down" aria-hidden="true" style="color:red"></span>
          </div>
          <span class="hp-main">25 </span>
          <span class="hp-sm">Pago</span>
        </a>
        <a href="#" class="hp-info pull-left">
          <div class="hp-icon">
            <span class="fa fa-long-arrow-up" aria-hidden="true" style="color:green"></span>
          </div>
          <span class="hp-main">10 </span>
          <span class="hp-sm">Recebido</span>
        </a>
        <a href="#" class="hp-info hp-one pull-right tip" title="" data-original-title="Refresh">
          <div class="hp-icon">
            <span class="fa fa-refresh" aria-hidden="true"></span>
          </div>
          <span class="hp-main">9:24</span>
        </a>
      </div>
    </div>
    <div class="content list">
      <div class="list-item">
        <div class="list-datetime">
          <div class="time">9:45 am</div>
        </div>
        <div class="list-info">
          <img src="assets/img/brands/carrefour-logo_56x56.png" class="img-circle img-thumbnail">
        </div>
        <div class="row list-text">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="#" class="list-text-name">Carrefour</a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <p class="text-center">Debito em conta</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span class="pull-right">              
                <i class="fa fa-minus " aria-hidden="true" style="color:red"></i> R$ 345,98
              </span>
          </div>
        </div>
        <div class="list-controls" style="height: 91px; line-height: 78px;">
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-rotate-right"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-check"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-remove"></span></a>
        </div>
      </div>
      <div class="list-item">
        <div class="list-datetime">
          <div class="time">9:45 am</div>
        </div>
        <div class="list-info">
          <img src="assets/img/brands/carrefour-logo_56x56.png" class="img-circle img-thumbnail">
        </div>
        <div class="row list-text">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="#" class="list-text-name">Carrefour</a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <p class="text-center">Debito em conta</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span class="pull-right">              
                <i class="fa fa-minus " aria-hidden="true" style="color:red"></i> R$ 345,98
              </span>
          </div>
        </div>
        <div class="list-controls" style="height: 91px; line-height: 78px;">
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-rotate-right"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-check"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-remove"></span></a>
        </div>
      </div>
      <div class="list-item">
        <div class="list-datetime">
          <div class="time">9:45 am</div>
        </div>
        <div class="list-info">
          <img src="assets/img/brands/carrefour-logo_56x56.png" class="img-circle img-thumbnail">
        </div>
        <div class="row list-text">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="#" class="list-text-name">Carrefour</a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <p class="text-center">Debito em conta</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span class="pull-right">              
                <i class="fa fa-minus " aria-hidden="true" style="color:red"></i> R$ 345,98
              </span>
          </div>
        </div>
        <div class="list-controls" style="height: 91px; line-height: 78px;">
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-rotate-right"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-check"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-remove"></span></a>
        </div>
      </div>
      <div class="list-item">
        <div class="list-datetime">
          <div class="time">9:45 am</div>
        </div>
        <div class="list-info">
          <img src="assets/img/brands/carrefour-logo_56x56.png" class="img-circle img-thumbnail">
        </div>
        <div class="row list-text">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="#" class="list-text-name">Carrefour</a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <p class="text-center">Debito em conta</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span class="pull-right">              
                <i class="fa fa-minus " aria-hidden="true" style="color:red"></i> R$ 345,98
              </span>
          </div>
        </div>
        <div class="list-controls" style="height: 91px; line-height: 78px;">
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-rotate-right"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-check"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-remove"></span></a>
        </div>
      </div>
      <div class="list-item">
        <div class="list-datetime">
          <div class="time">9:45 am</div>
        </div>
        <div class="list-info">
          <img src="assets/img/brands/carrefour-logo_56x56.png" class="img-circle img-thumbnail">
        </div>
        <div class="row list-text">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="#" class="list-text-name">Carrefour</a>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <p class="text-center">Debito em conta</p>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span class="pull-right">              
                <i class="fa fa-plus " aria-hidden="true" style="color:green"></i> R$ 345,98                
              </span>
          </div>
        </div>
        <div class="list-controls" style="height: 91px; line-height: 78px;">
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-rotate-right"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-check"></span></a>
          <a href="#" class="widget-icon widget-icon-circle"><span class="fa fa-remove"></span></a>
        </div>
      </div>


    </div>
    <div class="footer tac">
      <a href="#">Carregar mais...</a>
    </div>
  </div>
  <!-- FIM BOX EXTRATO RATIPO -->
</div>

<!-- COL GERENCIAL -->
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <!-- GERENTE E CONFIGURACAO -->
  <div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="block block-drop-shadow">
      <div class="bg-dot20">
        <div class="row">
          <div class="col-xs-8">
            <figure>
              <img class="img-circle img-thumbnail img-responsive center-block" src="assets/img/user/usuaria2.jpg">
              <figcaption class="head-subtitle figure-caption text-center">Contacte o seu gerente</figcaption>
            </figure>            
          </div>
          <div class="col-xs-4">
            <a href="#" class="centering text-center"><span  class="icon-cogs">Simone Simons1</span></a>
          </div>          
        </div>
      </div>
    </div>
  </div>

  <div  class="col-xs-3 col-sm-3 col-md-6 col-lg-3">
      <div  class="block block-drop-shadow">
        <div  class=" bg-dot20">
          <div  class="text-center">
            <ul  class="buttons">
              <li ><a  class="widget-icon widget-icon-large" href="#"><i  class="fa fa-cogs"></i></a></li>
            </ul>
          </div>
          <div  class="head-subtitle text-center">Configurações</div>
        </div>
      </div>
    </div>

    <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div  class="block block-drop-shadow">
        <div  class=" bg-dot20">
          <div  class="text-center">
            <ul  class="buttons">
              <li ><a  class="widget-icon widget-icon-large" href="#"><span  class="fa fa-sign-out"></span></a></li>
            </ul>
          </div>
        </div>
        <div  class="head-subtitle text-center">Sair</div>
      </div>
    </div>
  </div>
    <!-- FIM GERENTE E CONFIGURACAO -->

  <!-- CORRENTISTA E CARTAO -->
  <div class="block block-drop-shadow">
    <!-- CORRENTISTA -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="text-center">
        <img src="assets/img/user/usuaria4_56x56.jpg" class="img-circle img-thumbnail">
      </div>
      <div class="text-center">
        <span> Alissa White-Gluz</span>
      </div>
    </div>
    <!-- FIM CORRENTISTA -->
    <!-- CARTOES -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="text-center">
        <img src="assets/img/creditcards/creditcards_56X56.jpg" class="img-circle img-thumbnail">
      </div>
      <div class="text-center">
        <span> Selecione o cartão de credito</span>
      </div>
    </div>
    <!-- FIM CARTOES -->

  </div>
  <!-- FIM CORRENTISTA E CARTAO -->

  <!-- EXTRATO -->
  <div class="block block-drop-shadow">
    <span class="lsbalancete">
      <h2 class="text-center">Saldo da conta</h2>
      <br>
      <h4 class="text-center">R$ 30.982,12</h4>
      <br>
      <br>
      <h6 class="text-center">Futuros pagamentos R$ 2.125,78</h6>
  </span>
  </div>
  <!-- FIM EXTRATO -->

  <!-- BALANCETE -->
  <div class="block block-drop-shadow">    
    <ul class="by lsbalancete">
      <li class="mo">
        Cras justo odio
        <span class="atg" style="width: 75%;">
          <p  class="text-right" >75%</p>
        </span>
        <span>
          <p class="text-right">R$2.500,00</p>
        </span>
        
      </li>
      <li class="mo">
        Porta ac consectetur ac
        <span class="atg" style="width: 50%;">
          <p  class="text-right" >50%</p>
        </span>
         <span>
          <p class="text-right">R$2.500,00</p>
        </span>
      </li>
      <li class="mo">
        <span>
            Vestibulum at eros
        </span>        
        <span class="atg" style="width: 25%;">
          <p  class="text-right" >25%</p>
        </span>
         <span>
          <p class="text-right">R$2.500,00</p>
        </span>
      </li>
    </ul>
    

    

  </div>
  <!-- FIM BALANCETE -->

  <!-- GERENCIADOR FINANCEIRO -->
  <a href="#" class="btn block block-drop-shadow">
    <h2 class="vcenter">Gerenciar finanças</h2>    
    <span class="widget-icon widget-icon-large fa fa-angle-right pull-right" ></span>    
  </a>
  <!-- FIM GERENCIADOR FINANCEIRO -->


</div>
